.heading{
     background-color: green;
     color: white;
     font-size: xx-large;
     padding: 15px;
     text-align: center;
    
}
.card{
    background-color: rgb(20, 172, 170);
    font-size: larger;
    border: 1px solid rgb(190, 186, 186);
    border-radius: 10px;
    width: 350px;
    /* height: 250px; */
    margin: 5px;
}
.cardHead{
  color: white;
  text-align: center;
  font-size: x-large;
}
.cardDesc{
  text-align: justify;
  font-size: medium;
  padding: 10px;
  margin-top: 2%;
  color: white;
}
.icon{
  font-size: 2rem;
  margin: 2rem;
  color: blue;
}
.countDiv{
  margin: 1rem;
  font-size: 2.5rem;
}
.butn{
  margin: 1rem;
  padding: 1rem;
}